<!doctype html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<title>伟星历程</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
</head>
<body>
<div class="course"> 
    <!--幻灯片开始-->
    <div id="banner_box" class="box_swipe" >
        <ul>
            <volist name="infoSlides" id="s">
                <li><a href="{$s.url}"> <img src="__PUBLIC__/{$s.pic}" />
                    <div class="title_bg" style="height:30px; line-height:30px;">
                        {$s.title}
                    </div>
                </a> </li>
            </volist>
        </ul>
        <ol>
            <volist name="infoSlides" id="si">
                <li class="on"></li>
            </volist>
        </ol>
    </div>
    <!--幻灯片结束-->


    <div class="content">
    	<ul>
        	<li class="title">{$info.title}</li>
            <li class="text">
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;{$info.desc}</p>
            </li>
        </ul>
    </div>
</div>
<div class="copyright"></div> 
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/swipe.js" ></script>
<script>
$(function(){
	/*幻灯片*/
	new Swipe(document.getElementById('banner_box'), {
		speed:500,
		auto:3000,
		callback: function(){
			var lis = $(this.element).next("ol").children();
			lis.removeClass("on").eq(this.index).addClass("on");
		}
	});
});
</script>
</body>
</html>