<!doctype html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>项目介绍</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
</head>
<body>
<div class="project">
    <!--幻灯片开始-->
    <div id="banner_box" class="box_swipe" >
        <ul class="clearfix">
            <volist name="slide" id="s">
                <li><a href="{$s.url}"> <img src="__PUBLIC__/{$s.pic}"  />
                    <div class="title_bg" style="height:30px; line-height:30px;">
                        {$s.title}
                    </div>
                </a> </li>
            </volist>
        </ul>
        <ol>
            <volist name="slide" id="ss">
                <li class="on"></li>
            </volist>
        </ol>
    </div>
    <!--幻灯片结束-->
       <div class="icon">
        <ul class="clearfix">
            <li data-id='0' class="on"> <a> <i class="ico1"></i> <p>全部</p> </a> </li>
            <li data-id='1'> <a> <i class="ico2"></i> <p>别墅</p> </a> </li>
            <li data-id='2'> <a> <i class="ico3"></i> <p>高层</p> </a> </li>
            <li data-id='3'> <a> <i class="ico4"></i> <p>商业</p> </a> </li>
        </ul>
    </div>
    <div class="list">
        <div>
            <div class="title clearfix"> <i></i> 全部 </div>
            <ul class="up">
                <volist name="full" id="full">
                    <li><a href="{:U('Project/details?id='.$full['id'])}"><img src="__PUBLIC__/{$full.pic}"><p></p></a></li>
                </volist>
            </ul>
        </div>
        <div class="hide">
            <div class="title clearfix"> <i></i> 别墅 </div>
            <ul class="up">
                <volist name="house" id="full">
                    <li><a href="{:U('Project/details?id='.$full['id'])}"><img src="__PUBLIC__/{$full.pic}"><p></p></a></li>
                </volist>
            </ul>
        </div>
        <div class="hide">
            <div class="title clearfix"> <i></i> 高层 </div>
            <ul class="up">
                <volist name="high" id="full">
                    <li><a href="{:U('Project/details?id='.$full['id'])}"><img src="__PUBLIC__/{$full.pic}"><p></p></a></li>
                </volist>
            </ul>
        </div>
        <div class="hide">
            <div class="title clearfix"> <i></i> 商业 </div>
            <ul class="up">
                <volist name="shop" id="full">
                    <li><a href="{:U('Project/details?id='.$full['id'])}"><img src="__PUBLIC__/{$full.pic}"><p></p></a></li>
                </volist>
            </ul>
        </div>
    </div>
</div>
<div class="copyright"></div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/swipe.js" ></script>
<script type="text/javascript">
    $(document).ready(function(){
        /*幻灯片*/
        new Swipe(document.getElementById('banner_box'), {
            speed:500,
            auto:2000,
            callback: function(){
                var lis = $(this.element).next("ol").children();
                lis.removeClass("on").eq(this.index).addClass("on");
            }
        });
        //切换
        $('.icon li').click(function(){
            $('.icon li').removeClass('on');
            $(this).addClass('on');
            var did = $(this).data('id');
            $('.list > div').hide();
            $('.list > div').eq(did).show();
        });
    });
</script>
</body>
</html>