<ul class="sui-breadcrumb">
  <li><a href="{:U('Index/index')}">首页</a></li>
  <li><a href="{:U('Activity/index')}">活动</a></li>
  <li class="active">活动列表</li>
</ul>


<a href="{:U('Activity/add')}" class="sui-btn btn-xlarge btn-success">添加</a>
<form class="sui-form sui-form pull-right" action="{:U('Activity/index')}">
	<label for="title">标题：</label><input type="text" id="title" name="title" placeholder="活动名称..." value="<?php echo I('get.title')?>">
	<!--活动状态：<select name="status">-->
	<!--<option>全部</option>-->
	<!--<option>进行中</option>-->
	<!--<option>已结束</option>-->
<!--</select>-->
	<button class="sui-btn btn-primary" type="submit">搜索</button>
</form>
<br><br>

<table class="sui-table table-bordered-simple">
  <thead>
    <tr>
      <th>＃</th>
      <th>标题</th>
      <th>排序</th>
      <th>封面图片</th>
      <th>状态</th>
      <th>创建日期</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>
  </thead>
  <tbody>
  	<volist name="lists" id="v">
	    <tr>
	      <td>{$i}</td>
	      <td>{$v.title}</td>
	      <td>{$v.sort}</td>
	      <td><img src="__PUBLIC__/{$v.pic}?v={:time()}" alt="" style="max-width:100px;height:auto;"></td>
	      <td><eq name="v.status" value="1">进行中<else/>已结束</eq></td>
	      <td>{$v.create_time|date="Y-m-d H:i:s",###}</td>
	      <td>
	      	<a href="{:U('Activity/edit?id='.$v['id'])}" class="sui-btn btn-xlarge btn-info" data-id="{$i}">编辑</a>
	      </td>
	      <td>
      		<a href="{:U('Activity/del?id='.$v['id'])}" class="sui-btn btn-xlarge btn-info btn_del" data-id="{$i}">删除</a>
	      </td>
	    </tr>  		
  	</volist>
  </tbody>
</table>

<div class="manu">
	{$page}
</div>

<script type="text/javascript">
	$(function(){
		$(".btn_del").click(function(e){
			if (!confirm("确认删除序号为："+ $(this).data('id') +"的杂志吗？")) {
				return false;
				e.preventDefault();
			}
		})
	})
</script>