<form class="sui-form form-horizontal sui-validate" action="{:U('Base/changePW')}" method="post">
  <div class="control-group">
    <label for="inputPassword" class="control-label">密码：</label>
    <div class="controls">
      <input type="password" name="passwd" id="inputPassword" placeholder="Password" data-rules='required' class="input-xfat">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button type="submit" class="sui-btn btn-primary btn-xlarge">修改密码</button>
    </div>
  </div>
</form>