<form class="sui-form form-horizontal sui-validate" action="{:U('Base/login')" method="post">
  <div class="control-group">
    <label for="name" class="control-label">用户名：</label>
    <div class="controls">
      <input type="text" id="name" name="name" placeholder="用户名" data-rules='required' class="input-xfat">
    </div>
  </div>
  <div class="control-group">
    <label for="inputPassword" class="control-label">密码：</label>
    <div class="controls">
      <input type="password" name="passwd" id="inputPassword" placeholder="Password" data-rules='required' class="input-xfat">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button type="submit" class="sui-btn btn-primary btn-xlarge">登陆</button>
    </div>
  </div>
</form>