<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
  	<title>{:C('site_name')}</title>
	

  	<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
  	<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
  	<script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>

  	<style>
  		.control-group {
  			font-size: 16px !important;
  		}	
  		.control-group input {
  			width: 300px;
  		}
  	</style>
</head>
<body>
  	<div class="sui-row-fluid">
	    <div class="span4">&nbsp;</div>
	    <div class="span4" style="margin-top:150px;">{__CONTENT__}</div>
	    <div class="span4">&nbsp;</div>
  	</div>
</body>
</html>

